.heading {
  text-align: center;
  margin-top: -2rem;
}
.img {
  width: 20px;
  margin: 0px, 30px;
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  width: 16vw;
}
.inputs1 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-left: 25rem;
}
.input1 {
  display: flex;
  align-items: center;
  margin: 10px;
  width: 480px;
  height: 45px;
  background: #fff;
  border-radius: 6px;
  border: 2px solid #e45122;
}
.input1 .img {
  margin-left: 30px;
  margin-right: 30px;
}

.input1 input {
  height: 20px;
  width: 200px;
  background: transparent;
  border: none;
  outline: none;
  color: #797979;
  font-size: 19px;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.starts {
  padding: 15px 25px;
  border-radius: 5px;
  background-color: #e45122;
  color: white;
  font-size: large;
  font-weight: bold;
  margin-top: 1rem;
}
.forgot-password1 {
  margin-top: 7px;
  margin-left: 7rem;
  font-size: 18px;
  gap: 1rem;
}
.log {
  text-decoration: none;
  margin-left: 2rem;
  color: #e45122;
  font-weight: bold;
}
.starts:hover {
  transform: scale(1.05);
  border-color: #ffffff;
}
