* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home {
  margin-top: -2rem;
  height: 100vh;
  background-image: url(https://res.cloudinary.com/degnky4ab/image/upload/v1720909746/sr0c3zfkj0kns0w6wrnx.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home1 {
  font-size: smaller;
  margin-top: 2rem;
  width: 60vw;
  margin-left: -33rem;
}
.home2 {
  font-size: smaller;
  margin-left: -28rem;
  margin-top: -2.8rem;
}
.home3 {
  margin-left: -38rem;
}
.home4 {
  font-size: smaller;
  margin-left: -27.5rem;
}
.btn7 button {
  padding: 15px 25px;
  border-radius: 5px;
  background-color: #e45122;
  color: white;
  font-size: large;
  font-weight: bold;
  margin-top: 2rem;
  margin-left: 38rem;
}
.start1:hover {
  transform: scale(1.05);
  border-color: #ffffff;
  background-color: #ffffff;
  color: #e45122;
}
.home5 {
  font-size: smaller;
}
