.btn66 button {
  padding: 15px 25px;
  border-radius: 5px;
  background-color: #e45122;
  color: white;
  font-size: large;
  font-weight: bold;
  margin-top: 2rem;
  margin-left: 37rem;
}
.start66:hover {
  transform: scale(1.05);
  border-color: #ffffff;
  background-color: #ffffff;
  color: #e45122;
}
